@import "config.less";
* {
  font: 12px/1.5em Arial, Helvetica, sans-serif;
}
a{
  text-decoration:none;
  outline: 0;
  &:hover{
    text-decoration:none;
    outline: 0;
  }
  &:focus{
    text-decoration:none;
    outline: 0;
  }
}
ul{
  list-style: none;
}
.header {
  height: @header_footer_height;

  //标题
  .title {
    background: url(../images/admin/header_top_bg.gif);
    padding: 20px 40px 0 40px;
    .logo > img {
      margin-top: -10px
    }
    .links {
      b {
        cursor: pointer
      }
      color: #fff;
      li {
        float: left;
        padding-right: 10px;
      }
    }
  }

  //菜单
  .menu{background: url(../images/admin/nav1_bg.gif) repeat-x 0 100% #666e73;
    ul.nav-box{
      a{ display: inline-block;}
      padding-left: 20px;
      li.level0{position: relative;
        float:left;
        >a{color:#fff;background:url(../images/admin/nav1_sep.gif) no-repeat right top;}
        a{
          height: 30px;
          padding:5px 20px;
        }
        ul{
          position: absolute;
          top:100%;
          left:0;
          background: #e7efef;
          padding: 0;
          border: 1px solid #2d444f;
          li{
            border-bottom: 1px solid #2d444f;
            a{
              width:250px;
              color:#000;
              text-align: left;
              padding-left:60px;
            }
            &:last-child{
              border-bottom: none;
            }
          }
        }
      }
    }
  }


}

.footer {
  height: @header_footer_height;
}

.main-body {
  .main {
    .login-block {
      position: absolute;
      width: 100%;
      height: calc(~"100% - 10%");
      left: 0;
      top: 0;
      padding: 0 10%;
      .login-container {
        display: flex;
        height: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        .login {
          width: 100%;
          min-height: 200px;
          border: 1px solid #ccc;
        }
      }
    }

  }
}