.header {
  height: 80px;
}
.header .links ul {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}
.header .links ul li {
  float: left;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.header .links ul li:last-child {
  border: none;
}
.footer {
  height: 80px;
}
.main-body .main .login-block {
  position: absolute;
  width: 100%;
  height: calc(100% - 10%);
  left: 0;
  top: 0;
  padding: 0 10%;
}
.main-body .main .login-block .login-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.main-body .main .login-block .login-container .login {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
}
